<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vicky.jabazon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jabazon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jabazon">
        <activity
            android:name=".VaccinesHome"
            android:exported="true" />
        <activity
            android:name=".vaccinationAppointmentDetails"
            android:exported="true" />
        <activity
            android:name=".vaccination_appointment_list"
            android:exported="true"
            android:label="Vaccination Appointment" />
        <activity
            android:name=".checkVaccinationStatus"
            android:exported="true" />
        <activity
            android:name=".RecordHealthcareCentre"
            android:exported="true" />
        <activity
            android:name=".ManageHealthcareHome"
            android:exported="true" />
        <activity
            android:name=".ManageVaccines"
            android:exported="true" />
        <activity
            android:name=".SignUpAdmin"
            android:exported="true" />
        <activity
            android:name=".vaccinationAppointment"
            android:exported="true" />
        <activity
            android:name=".SelectedVid"
            android:exported="true" />
        <activity
            android:name=".UserActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpUser"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
